body {
	background: #FFF url('pattern.jpg') left repeat;
	font-family: 'Buenard', serif;
	color: white;
}

a {
	color: white;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: 0;
}

li:before {
	content: "»  ";
}

#header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	
	height: 120px;
	padding: 20px;
	
	background-color: rgba(0,0,0,0.7);
}

#header h1 {
	margin: 0;
	font-weight: 700;
	font-size: 5em;
}

#header .right {
	float: right;
}

#content {
	width: 600px;
	margin: 200px auto;
}

div.block {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 20px;
	margin-bottom: 40px;
	background-color: rgba(0,0,0,0.7);
	color: white;
}

div.block img {
	margin: 10px auto;
	max-width: 560px;
} 
